{% set form = __SELF__.form %}
{% set that = __SELF__ %}

<form id="form_{{ form.code }}">
    <div class="loading-indicator">
        <div><span>.</span><span>.</span><span>.</span></div>
    </div>

    <div class="{{ form.rowClass() }}">
        {% for field in form.fields %}
        <div class="custom-form-input abf-{{ field.type }} {{ form.groupClass(field) }}">
            <label for="{{ form.id(field) }}" class="{{ form.labelClass(field) }}">
                {{ field.name }}
                {% if field.required %}<span class="required"></span>{% endif %}
            </label>
            {% partial field.partial form=form field=field %}
            <div class="form-field-error-message text-danger" style="display: none;"></div>
        </div>
        {% endfor %}
    </div>

    {% if form.recaptchaEnabled %}
    <div class="{{ form.rowClass() }}">
        <div class="{{ form.groupClass() }}">
            <div class="g-recaptcha" data-sitekey="{{ that.recpatchaPublicKey }}" style="margin-bottom: 10px;"></div>
            <div class="form-field-error-message text-danger" style="display: none;"></div>
        </div>
    </div>
    {% endif %}

    <div class="{{ form.rowClass() }}">
        <div class="{{ form.groupClass() }}">
            {% if form.enable_cancel %}
            <button class="{{ form.cancelClass() }}" onclick="javascript:;">{{ form.cancelText() }}</button>
            {% endif %}
            <button class="{{ form.submitClass() }}" type="submit">{{ form.submitText() }}</button>
        </div>
    </div>
</form>

{% if form.recaptchaEnabled %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}
