{% if field.getOptions()|length %}
{% for id, opt in field.getOptions() %}
<label for="{{ field.getId(form) }}_{{ id }}" class="abweb-form-option">
    <input type="checkbox" name="{{ field.code }}[{{ id }}]" id="{{ field.getId(form) }}_{{ id }}" value="{{ opt }}"
        {% if field.required %}required{% endif %}>
    <span>{{ opt }}</span>
</label>
{% endfor %}
{% else %}
<input type="checkbox" name="{{ field.code }}" id="{{ field.getId(form) }}" class="{{ form.fieldClass(field) }}"
    value="1" {% if field.required %}required{% endif %}>
{% endif %}
